<div class="container">
  <div class="row">
    <h1>Pet Search</h1>
  </div>
  <div class="row" height="100px">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="text-center">
        <button type="button" class="btn btn-primary getPets">Get Pets</button>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col">
      <div *ngFor="let pet of pets">
        {{ pet.name }}
      </div>
    </div>
  </div>
  <!-- <div *ngFor="let pet of pets | slice: (page-1) * pageSize: (page-1) * pageSize + pageSize">
    {{ pet.name }}
  </div> -->
  <!-- <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="pets.length"></ngb-pagination>
    </div>
    <div class="col-md-4"></div>
  </div> -->
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>